body {
  /* padding-top: 5em; */
  padding: 0;
  margin: 0;
}

h1,
img,
div {
  padding: 0;
  margin: 0;
}

.notification {
  display: none;
  position: fixed;
  width: 50%;
  height: 50%;
  background-color: gainsboro;
}

.pinned-container {
  display: flex;
}

.pinned-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.input-box,
.score-box,
.timer-box,
.give-up,
.reset {
  font-size: 20px;
  padding: 10px;
  margin-right: 20px;
  background-color: aquamarine;
  line-height: 30px;
}

.input-box input {
  font-size: 20px;
}

.timer-box {
  display: none;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
}

.champion,
.hidden-champion-icon {
  width: 165px;
  height: 290px;
}

.champion {
  display: none;
  position: relative;
  z-index: -2;
}

.hidden-champion-icon {
  display: block;
}

.reveal-answers {
 display: none;
 order: 5;
 flex-wrap: wrap;
}

.reveal-answers p {
  margin: 10px;
}

.error {
  box-shadow: inset 0 0 40px red;
}