body {
  padding-top: 5em;
}

img,
div {
  padding: 0;
  margin: 0;
}

.float-left {
  float: left;
}

.notification {
  display: none;
  position: fixed;
  width: 50%;
  height: 50%;
  background-color: gainsboro;
}

.pinned-container {
  position: fixed;
  top: 0;
  left: 0;
}

.input-box,
.score-box,
.timer-box,
.give-up,
.reset {
  font-size: 20px;
  padding: 10px;
  margin-right: 20px;
  background-color: aquamarine;
  line-height: 30px;
}

.input-box input {
  font-size: 20px;
}

.timer-box {
  display: none;
}

.images-container {

}

.champion,
.hidden-champion-icon {
  width: 165px;
  height: 290px;
}

.champion {
  display: none;
}

.hidden-champion-icon {
  display: inline;
}

.reveal-answers {
 display: flex;
 order: 5;
 flex-wrap: wrap;
}

.reveal-answers p {
  margin: 10px;
}